$color-primary: #002868;
$color-secondary: #DC0500;

$color-white: #FFFFFF;
$color-low-white: #FBFBFD;
$color-low-white-on-blue: rgba($color-low-white, 0.72);
$color-black: #262626; 
$color-txt-primary: $color-black;
$color-txt-secondary: #58585b;

