.wysiwyg p{

    strong{
        color: $color-primary;
    }

    a{
        color: $color-secondary;
        text-decoration: underline;
        transition: all 0.4s cubic-bezier(.25,.8,.25,1);

        &:hover{
            color: $color-primary;
        }
    }
}


/*HARD FIXES
-------------------------*/
#cta-block_62bc54399f0e9.mb-240-r{
    margin-bottom: 2.4rem;
}

.single-course.postid-867{
    .fixed-bar{
        display: none;
        &.scrolled{
            display: none;
        }
    }
}