.course{

    .wysiwyg{
        p{
            max-width: 90ch;
            margin-bottom: 0.8rem;
            @media #{$large}{
                margin-bottom: 1.6rem;
            }
        }
    }

    .course-card{
        background-color: $color-low-white;
        border-radius: 1.2rem; 
        box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.012),
                    0px 0px 3.5px rgba(0, 0, 0, 0.018),
                    0px 0px 7.1px rgba(0, 0, 0, 0.022),
                    0px 0px 14.6px rgba(0, 0, 0, 0.028),
                    0px 0px 40px rgba(0, 0, 0, 0.04);
        transition: all 0.4s ease-in-out;

        @media #{$large}{
            border-radius: 2.4rem;
        }
        
                    
        a{
            text-decoration: none;
            display: inline-block;
            padding: 4rem 3.2rem;

            @media #{$large}{
                padding: 6.4rem;
            }

        }
        &:hover{
            box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.024),
                        0px 0px 3.5px rgba(0, 0, 0, 0.036),
                        0px 0px 7.1px rgba(0, 0, 0, 0.044),
                        0px 0px 14.6px rgba(0, 0, 0, 0.056),
                        0px 0px 40px rgba(0, 0, 0, 0.08);
        }
    }

    
    .course-title{
        font-size: 2.8rem;
        
        @media #{$large}{
            font-size: 3.8rem;
        }
    }

    .course-excerpt{
        p{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }


    .points-col{
        display: flex;
        align-items: start;
    }

    .points-icon{
        margin-right: .6rem;
        max-width: 1.8rem;
        min-width: 1.8rem;

        @media #{$large}{
            margin-right: 1rem;
            max-width: 2.4rem;
            min-width: 2.4rem;
        }
    }

    .points-label{
        line-height: 140%;
    }
}


.single-course{
    .wysiwyg{
        p{
            max-width: 90ch;
            margin-bottom: 0.8rem;
            @media #{$large}{
                margin-bottom: 1.6rem;
            }
        }
    }

    .review-cta-col{
        display: none;
    }

    .fixed-bar{
        min-width: 100%;
        position: fixed; 
        z-index: 998;
        bottom: 0;
        top: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;

        @media #{$large}{
            bottom: auto;
            top: 96px;
        }
        
        a{
            background-color: $color-secondary;
            padding: 1.6rem 0;
            text-decoration: none;
            display: block;
            box-shadow: 0px -4px 32px -10px rgba(0, 0, 0, 0.24);
            transition: all 0.3s ease-in-out;

            @media #{$large}{
                background-color: $color-primary;
                box-shadow: 0px 4px 32px -10px rgba(0, 0, 0, 0.24);
            }

            .fixed-bar-container{
                display: flex;
                justify-content: space-between;
    
                .mobile-only{
                    width: 100%;
                    color: $color-white;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;

                    @media #{$large}{
                        display: none;
                    }
                }

                .desktop-only{
                    display: none;

                    @media #{$large}{
                        display: inline-block;
                        color: $color-white;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        margin: auto 0;
                    }
                }
            }

            &:hover{
                background-color: $color-primary;
                @media #{$large}{
                    background-color: $color-secondary;
                }
            }
        }

        &.scrolled{
            opacity: 1;
            pointer-events: fill;
        }
    }

    footer{
        padding-bottom: calc(4.8rem + 6.4rem);        
        @media #{$large}{
            padding-bottom: 4.8rem;
        }
    }

    header .header__menu .main-menu li:last-child a{
        @media #{$large}{
            color: $color-primary;
            background-color: transparent;
            padding: 1.4rem 0;

            &:hover{
                color: $color-secondary;
            }
        }
    }
}