.review{
    article{
        position: relative;
        height: 100%;
        display: flex; flex-direction: column; justify-content: space-between;
        background-color: $color-low-white;
        border-radius: 1rem;
        box-shadow: 0px 0px 1.4px rgba(0, 0, 0, 0.012),
                    0px 0px 3.5px rgba(0, 0, 0, 0.018),
                    0px 0px 7.1px rgba(0, 0, 0, 0.022),
                    0px 0px 14.6px rgba(0, 0, 0, 0.028),
                    0px 0px 40px rgba(0, 0, 0, 0.04);
        padding: 3.2rem 2.4rem 2.4rem;

        @media #{$large}{
            padding: 4.8rem 4.8rem 4rem;
        
        }

        .quote{
            position: absolute;
            top: 0; left: 0;
            transform: translate(-20%, -38%);

            svg{
                max-width: 3.2rem;
                @media #{$large}{
                    max-width: 5.4rem;
                }
            }
        }

        .review-text{
            color: $color-txt-secondary;
        }

        .review-name{
            font-size: 1.8rem;
            color: $color-black;
            line-height: 125%;
        }
        .review-course{
            p{
                font-size: 1.4rem;
            }
        }
    }

    .review-cta-col{
        min-height: 100%;
    }
    .review-cta{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
    }
}