.contacts{
    text-align: left;

    @media #{$large}{
        text-align: center;
    }

    .col-social{
        text-align: center;

        a{
            transform: translateY(40%);
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        
        &:nth-of-type(1){
            a{transition-delay: .2s;}
        }
        &:nth-of-type(2){
            a{transition-delay: .3s;}
        }
        &:nth-of-type(3){
            a{transition-delay: .4s;}
        }
        &:nth-of-type(4){
            a{transition-delay: .5s;}
        }

        &.in-viewport-once{
            a{
                transform: translateY(0);
                opacity: 1;
            }
        }

    }
 
    .contacts-icon-link{
        display: inline-block;
        text-decoration: none;
        color: $color-txt-secondary;

        svg{
            max-width: 5rem;
            max-height: 5rem;

            @media #{$large}{
                max-width: 8rem;
                max-height: 8rem;
            }
        }

        &:hover{
            svg{
                circle{fill: $color-secondary;}
            }
        }

        .contacts-icon-label{
            margin-top: 0.8rem;
        }
    }
    
}