.counters{
    background-color: $color-primary;

    .row{
        padding: 8rem 0;

        p{
            text-align: center;
            text-transform: uppercase;
        }

        .counter-number{
            font-family: $font-family-secondary;
            font-size: clamp(3rem, 4.5vw, 5.6rem);
            line-height: 120%;
            font-weight: 700;
            color: $color-white;

            transform: translateY(50%);
            opacity: 0;
            transition: all .4s ease-in-out .2s;

            &.in-viewport-once{
                transform: translateY(0);
                opacity: 1;
            }
        }

        .counter-text{
            color: $color-low-white-on-blue;
            margin-bottom: 4rem;

            @media #{$medium}{
                margin-bottom: 0;   
            }
        }

        .col-12:last-of-type{
            .counter-text{
                margin-bottom: 0;
            }
        }
    }
}