.hero{
    h1{
        margin-top: rem(320);

        @media #{$mobile} {
            text-align: center;
        }
    }
    
    @media #{$mobile} {
            text-align: center;
        }

    .hero-img{
        height:100vh;
        background-repeat:no-repeat; background-size:cover; background-position: center;

        @media #{$mobile} {
            width: 100vw;
            height: 80vh;
        }
    }
}