.head-offerte{
    .col-4{
       
        align-items: center;
    }
    

}

.hero-offerte{
    height: rem(550);
    width: 100vw;
    padding: rem(310) 0 0 rem(310); 
        h1{
            margin-bottom: 0;
            margin-top: rem(48);
            color: $color-white;
        }
}

.content-offerte{
    padding: rem(80) rem(310) rem(80) rem(310);

    .col-4{
        padding-left: 0;
        padding-right: rem(80);

        .h3{
            p{
                font-size: rem(48);
            font-weight: 500;
            color: $color-secondary;
            line-height: calc(60 / 48);
            text-align: left;
            }
            
        }

        ul{
            padding-left: 0;
        }
    }
    .col-8{
        padding-left: rem(80);
        padding-right: 0;
    }
}