.steps{
    text-align: left;

    @media #{$large}{
        text-align: center;
    }

    .wysiwyg{
        p{
            margin-bottom:.8rem;
            @media #{$large}{
                margin-bottom:1.6rem;
            }
        }
    }

    .step-icon{
        margin-bottom: .8rem;
        width: 4rem;

        @media #{$large}{
            width: 6.5rem;
            margin-bottom: 1.6rem;
        }
    }
    .step-subtitle{
        text-align: left;
        font-weight: 700;
        color: $color-txt-primary;
    }
    .step-label{
        text-align: left;
    }
}