/*Blocco ACF
*Testo Immagine
-----------------------------------------------*/
.testo-immagine {
    .row {
        align-items: center;
    }
    h2{
        text-align: left;
    }
    img{
        width: 100%
    };
    
}

.destra .row{
    flex-direction: row-reverse;   

    .immagine{

        @media #{$medium} {
            padding: 0 0 0 30px;
        }
    }
   
}

.sinistra{
    .immagine{

        @media #{$medium} {
            padding: 0 30px 0 0;
        }
    }
}