.title_txt{
    text-align: left;

    @media #{$large}{
        text-align: center;
    }

    .wysiwyg{
        p{
            max-width: 90ch;
            margin:0 auto 0.8rem;
            @media #{$large}{
                margin:0 auto 1.6rem;
            }
        }
    }
}