/*Blocco ACF
*Testo Immagine
-----------------------------------------------*/
.txt-img {

    .wysiwyg{
        p{
            margin-bottom:.8rem;
            @media #{$large}{
                margin-bottom:1.6rem;
            }
        }
    }

    .col-img{
        margin-bottom: 4rem;

        @media #{$large}{
            margin-bottom: 0;
        }
    }

    img{
        border-radius: 1rem;
        max-height: 50vh;

        @media #{$large}{
            max-height: 80vh;
        }
    }


    .img-wrapper{
        border-radius: 1rem;
        background-color: $color-primary;
        display: inline-block;
        clip-path: polygon(0 0,0 0,0 100%,0% 100%);
        
        img{
            display: block;
            clip-path: polygon(0 0,0 0,0 100%,0% 100%);
            transition: .5s all cubic-bezier(.4,0,.2,1) .3s;
        }

        &.in-viewport-once{
            animation: fix-render .6s cubic-bezier(.4,0,.2,1) forwards .2s;
            img{clip-path: polygon(0 0,100% 0,100% 100%,0 100%);}
        }
    }
    
}

.right .row{
    flex-direction: row-reverse;   

    .col-img{
        @media #{$large}{
            padding-left: 4.8rem;
            display: flex; justify-content: center; 
        }
    }
   
}

.left{
    .col-img{
        @media #{$large}{
            padding-right: 4.8rem;
            display: flex; justify-content: center; 
        }
    }

}

