footer{
    padding-bottom: 4.8rem;
    background-color: $color-primary;

    .red-stripe{
        min-width: 100%;
        height: 1rem;
        background-color: $color-secondary;
        margin-bottom: 8rem;
    }

    .footer-logo{
        a.footer-logo-txt{
            color: $color-low-white-on-primary;
            font-size: 1.6rem;
            text-transform: uppercase;
            text-decoration: none;
        }
        a.footer-logo-img{
            &:hover{
                opacity: 0.8;
            }
        }
    }
    
    .social-icon-link{
        display: inline-block;
        margin-bottom: 0.8rem;

        svg{
            max-width: 4.8rem;
            max-height: 4.8rem;

            @media #{$large}{
                max-width: 5.6rem;
                max-height: 5.6rem;
            }
        }
        
        &:hover{
            svg{
                circle{fill: $color-primary;}
                path{fill: $color-white;}
                path.yt-arrow{fill: $color-primary;}
            }
        }
    }
    
    .col-legal-info{
        p{
            color: $color-low-white-on-primary;

            &:first-of-type{
                color: white;
                font-size: 1.6rem;
                font-weight: 700;
            }
        }

        a{
            color: $color-low-white-on-primary;
            &:hover{color: $color-white;}
        }
    }

    .col-social-privacy{
        display: flex;
        flex-direction: column;
        align-items: flex-start; justify-content: space-between;
        white-space: nowrap;
        margin-top: 4.8rem;

        @media #{$large}{
            align-items: flex-start;
            margin-top: 0;
        }

        p{
            text-align: left;
            font-size: 1.4rem;
            color: $color-low-white-on-primary;

            @media #{$large}{
                text-align: center;
            }
        }

        a{
            color: $color-low-white-on-primary;
            &:hover{color: $color-white;}
        }

    }

    .w-100{
        width: 100%;
    }

}