body{overflow-x: hidden;}
nav{
    display: flex; justify-content: space-between; align-items: center;
    width: 100vw; height: 64px; max-height: 80px;
    background-color: $color-primary;
    padding: 0.5rem 2rem;
    position: fixed; top:0; z-index:99;

    a{
        text-decoration: none;
    }

    .logo{
        color: $color-white; font-size: 1.5rem; text-transform: uppercase; letter-spacing: 5px;
        display: flex; align-items: center;
        cursor: pointer;
        transition: opacity 0.2s ease-in-out;

        img{
            height: auto;
            max-width: 160px;
        }
    }
        .logo:hover{
            opacity: 0.85;
        }

        
        
    .burger{  
    display: block; /*shows until 992px*/
    transition: opacity 0.2s ease-in-out;
    
        #burger-icon {
            height: 32px;
            cursor: pointer;
            
            rect{fill:none;}
            line{
                fill:none;
                stroke:$color-white;stroke-linecap:round;stroke-miterlimit:10;stroke-width:4px;
                transform-origin: center center;
            }
            
            /*animate out*/
            .l-1, .l-3{
                transition: transform 0.3s ease-in-out;
            }
            .l-2{
                transition: opacity 0.3s ease-in-out 0.3s;
            }
            
            /*animate in*/
            .top-translate{
                transform: translateY(32.5%);
                transition: transform 0.3s ease-in;
            }
            .top-rotate{
                transform: rotate(-45deg) translateY(32.5%);
                transition: transform 0.3s ease-out 0.3s;
            }
            
            .mid{
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
            
            .bottom-translate{
                transform: translateY(-32.5%);
                transition: transform 0.3s ease-in;
            }
            .bottom-rotate{
                transform: rotate(45deg) translateY(-32.5%);
                transition: transform 0.3s ease-out 0.3s;
            }
        }     
    }
        .burger:hover{
            opacity: 0.85;
        }



    .menu{
        position: absolute; right: 0; top: 64px; z-index:98;
        transform: translateX(101vw);
        height: calc(100vh - 64px); width: 100vw;
        background-color: $color-primary;
        display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;
        transition: all 0.4s ease-out;

        li{
            opacity: 0;
            transform: translateX(1.5rem);
            transition: all 0.3s ease-out;
            
            a{
                color: $color-white;
                font-size: 1.5rem;
                transition: color 0.2s ease-in-out;
            }
                a:hover{
                    color: $color-secondary;
                }
        }
    }



    .open{
        transform: translateX(0);

        li:nth-child(1){
            transition-delay: 0.2s;
            opacity: 1; transform: translateX(0);
        }
        li:nth-child(2){
            transition-delay: 0.4s;
            opacity: 1; transform: translateX(0);
        }
        li:nth-child(3){
            transition-delay: 0.6s;
            opacity: 1; transform: translateY(0);
        }
        li:nth-child(4){
            transition-delay: 0.8s;
            opacity: 1; transform: translateX(0);
        }
        li:nth-child(5){
            transition-delay: 1s;
            opacity: 1; transform: translateX(0);
        }
        li:nth-child(6){
            transition-delay: 1.2s;
            opacity: 1; transform: translateX(0);
        }
    }


    .current-menu-item{
        a{color: $color-secondary !important;}
    }
}

.fix-fixed{
    margin-top: 72px;
}
